<nav class="nav" >
  <div class="nav-logo">
    <img class="logo" src="assets/icon.png" />
  </div>
  <div class="nav-title">
    WebCar
  </div>
  <div class="nav-buttons">
    <div class="button button--small" routerLink="/admin/veiculo">
      <label class="label">
        Veículos
      </label>
    </div>
    <div class="button button--small" routerLink="/admin//usuario">
      <label class="label">
        Usuários
      </label>
    </div>
    <div class="button button--small" routerLink="/admin/viagem">
      <label class="label">
        Viagens
      </label>
    </div>
    <div class="button button--medium" routerLink="/user/viagem">
      <label class="label">
        Pedir Viagem
      </label>
    </div>
  </div>
</nav>